*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    max-width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
}

.container{
    width:70%;
    height: 100%;
    border:2px solid green;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    margin: 50px 0 20px 0;
}

.contents{
    width:35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex{
    width: 85%;
    display:flex;
}

.flex input{
    width:100%;
    outline: none;
    height:40px;
    font-size: 18px;
    padding:15px;
    border: 0;
}

.search-btn{
    width:20%;
    outline: none;
    border: 0;
    background-color: #fff;
}

.search-btn i{
    font-size: 15px;
}
.random-btn{
    width:13%;
    height:40px;
    border: 0;
}